USE [master]
GO
/****** Object:  Database [LMS]    Script Date: 27/07/2026 10:06:41 AM ******/
CREATE DATABASE [LMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LMS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LMS_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS]
GO
/****** Object:  Table [dbo].[ChangeofOwershipPayments]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeofOwershipPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[SaleAgreementId] [nvarchar](100) NOT NULL,
	[AmountPaid] [float] NULL,
	[PaidBy] [nvarchar](100) NOT NULL,
	[PaymentMode] [nvarchar](100) NOT NULL,
	[PaymentReference] [nvarchar](100) NOT NULL,
	[ReceiptNo] [nvarchar](100) NOT NULL,
	[DatePaid] [nvarchar](100) NULL,
	[PostedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Ownershi__9B556A58E76203FA] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChangeofOwnership]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeofOwnership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Previous_Owner] [nvarchar](100) NOT NULL,
	[Current_Owner] [nvarchar](100) NOT NULL,
	[SaleAgreementId] [nvarchar](100) NOT NULL,
	[ProofofPayment] [nvarchar](100) NOT NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[District] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[PhoneNo] [nvarchar](100) NULL,
	[PhoneNo2] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Occupation] [nvarchar](80) NULL,
	[IdentityNo] [nvarchar](30) NULL,
	[PostedBy] [nvarchar](60) NULL,
 CONSTRAINT [PK__Clients__E671268B2A077A27] PRIMARY KEY CLUSTERED 
(
	[ClientNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CreditorPayments]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditorPayments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[CreditorID] [nvarchar](20) NULL,
	[CurrentBalance] [float] NULL,
	[AmountPaid] [float] NULL,
	[NewBalance] [float] NULL,
	[CollectedBy] [nvarchar](60) NULL,
	[PaymentMode] [nvarchar](20) NULL,
	[PaymentReference] [nvarchar](60) NULL,
	[DatePaid] [nvarchar](60) NULL,
	[PostedBy] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Creditors]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creditors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](60) NOT NULL,
	[SiteName] [nvarchar](60) NOT NULL,
	[LandOwner] [nvarchar](60) NOT NULL,
	[AmountAgreed] [float] NULL,
	[AmountPaid] [float] NULL,
	[Balance] [float] NULL,
	[LandOwnerAccountNumber] [nvarchar](60) NOT NULL,
	[LandSurveyedBy] [nvarchar](60) NOT NULL,
	[LandSize] [nvarchar](60) NOT NULL,
	[EstimatedPlots] [nvarchar](60) NULL,
	[EstimatedPlotPrice] [float] NULL,
	[RequestedBy] [nvarchar](60) NOT NULL,
	[CheckedbyOpm] [nvarchar](60) NOT NULL,
	[AuthorisedByCEO] [nvarchar](60) NOT NULL,
	[FinanceLedgeby] [nvarchar](60) NOT NULL,
	[Postedby] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUsers]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](60) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Fullname] [nvarchar](60) NOT NULL,
	[CustomerID] [nvarchar](60) NULL,
	[Location] [nvarchar](60) NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Districts]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](40) NULL,
	[Region] [nvarchar](60) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Next_of_Kins]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Next_of_Kins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Relationship] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[otp]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [nvarchar](10) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[otp] [nvarchar](10) NOT NULL,
	[Username] [nvarchar](60) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Fullname] [nvarchar](60) NOT NULL,
	[Location] [nvarchar](60) NULL,
	[RoleId] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentVoucher]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentVoucher](
	[PaymentVoucherID] [int] IDENTITY(1,1) NOT NULL,
	[PayeeName] [nvarchar](200) NOT NULL,
	[Amount] [float] NULL,
	[AmountInWords] [nvarchar](500) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ChequeNo] [nvarchar](50) NULL,
	[BankName] [nvarchar](150) NULL,
	[AccountNo] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[ReferenceNo] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NULL,
	[PreparedBy] [nvarchar](100) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ReceivedBy] [nvarchar](100) NULL,
	[DatePrepared] [datetime] NULL,
	[DateApproved] [datetime] NULL,
	[DateReceived] [datetime] NULL,
	[ModifiedBy] [nvarchar](1) NULL,
	[DateModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentVoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentVoucherCreditor]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentVoucherCreditor](
	[PaymentVoucherID] [int] IDENTITY(1,1) NOT NULL,
	[PayeeName] [nvarchar](200) NOT NULL,
	[SiteCode] [int] NOT NULL,
	[Amount] [float] NULL,
	[AmountInWords] [nvarchar](500) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ChequeNo] [nvarchar](50) NULL,
	[BankName] [nvarchar](150) NULL,
	[AccountNo] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[ReferenceNo] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NULL,
	[PreparedBy] [nvarchar](100) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ReceivedBy] [nvarchar](100) NULL,
	[DatePrepared] [datetime] NULL,
	[DateApproved] [datetime] NULL,
	[DateReceived] [datetime] NULL,
	[ModifiedBy] [nvarchar](1) NULL,
	[DateModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentVoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Penalties]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[FromRange] [nvarchar](100) NULL,
	[ToRange] [nvarchar](100) NULL,
	[Charge] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlotAllocations]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlotAllocations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlotNo] [nvarchar](100) NOT NULL,
	[SiteNo] [nvarchar](100) NOT NULL,
	[PriceCategory] [nvarchar](60) NULL,
	[AgreedPrice] [float] NULL,
	[AmountPaid] [float] NULL,
	[ClientNo] [nvarchar](40) NULL,
	[DateAllocated] [datetime] NULL,
	[PostedBy] [nvarchar](60) NULL,
 CONSTRAINT [PK__Plots__78CFA6E969] PRIMARY KEY CLUSTERED 
(
	[PlotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlotPayments]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlotPayments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlotNo] [nvarchar](100) NOT NULL,
	[SiteNo] [nvarchar](100) NOT NULL,
	[CurrentBalance] [float] NULL,
	[AmountPaid] [float] NULL,
	[NewBalance] [float] NULL,
	[PaidBy] [nvarchar](60) NULL,
	[PaymentMode] [nvarchar](60) NULL,
	[PaymentReference] [nvarchar](40) NULL,
	[ReceiptNo] [nvarchar](50) NULL,
	[DatePaid] [datetime] NULL,
	[PostedBy] [nvarchar](60) NULL,
 CONSTRAINT [PK__PlotPaym__78CF8670357B5AA2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Plots]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlotNo] [nvarchar](100) NOT NULL,
	[SiteNo] [nvarchar](100) NOT NULL,
	[PlotSize] [nvarchar](50) NULL,
	[PlotValue] [float] NULL,
	[NormalPrice] [float] NULL,
	[PromotionPrice] [float] NULL,
	[PriceCategory] [nvarchar](60) NULL,
	[PlotStatus] [nvarchar](60) NULL,
	[OfferedTo] [nvarchar](40) NULL,
	[DateOffered] [datetime] NULL,
	[AgreedPrice] [float] NULL,
	[AmountPaid] [float] NULL,
	[Balance] [float] NULL,
	[FullPaymentDate] [datetime] NULL,
	[DateRegistered] [datetime] NULL,
	[RegisteredBy] [nvarchar](60) NULL,
	[OfferPeriod] [nvarchar](50) NULL,
	[MonthlyInstallment] [float] NULL,
	[PlotSketch] [nvarchar](100) NULL,
 CONSTRAINT [PK__Plots__78CF8670F4A6E969] PRIMARY KEY CLUSTERED 
(
	[PlotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlotWithdrawal]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlotWithdrawal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlotNo] [nvarchar](50) NOT NULL,
	[SiteNo] [nvarchar](30) NOT NULL,
	[OfferedTo] [nvarchar](40) NULL,
	[AgreedPrice] [float] NULL,
	[AmountPaid] [float] NULL,
	[Balance] [float] NULL,
	[RefundAmount] [float] NULL,
	[WithdrawReason] [nvarchar](250) NULL,
	[WithdrawDate] [datetime] NULL,
	[PostedBy] [nvarchar](60) NULL,
	[CollectedBy] [nvarchar](60) NULL,
	[DateAllocated] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReminderLogs]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReminderLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DateSent] [datetime] NOT NULL DEFAULT (getdate()),
	[SentBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](60) NOT NULL,
	[Functionalities] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleAgreementPlots]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleAgreementPlots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SaleAgreementId] [int] NULL,
	[SiteNo] [nvarchar](100) NOT NULL,
	[PlotNo] [nvarchar](100) NOT NULL,
	[Date] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleAgreements]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleAgreements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [nvarchar](100) NULL,
	[OfferDate] [nvarchar](100) NULL,
	[OfferYear] [nvarchar](60) NULL,
	[Createdby] [nvarchar](100) NULL,
	[Createdon] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Section]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](40) NULL,
	[SectionLeader] [nvarchar](60) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SentMessages]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SentMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
	[TextMessage] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[DateSent] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sites]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sites](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteCode] [nvarchar](30) NOT NULL,
	[District] [nvarchar](30) NULL,
	[PhysicalLocation] [nvarchar](200) NULL,
	[Size] [nvarchar](50) NULL,
	[PreviousOwner] [nvarchar](100) NULL,
	[InitialValue] [float] NULL,
	[AmountPaid] [float] NULL,
	[Balance] [float] NULL,
	[DevelopmentsDone] [nvarchar](300) NULL,
	[DevelopmentCost] [float] NULL,
	[DateRegistered] [datetime] NULL,
	[RegisteredBy] [nvarchar](60) NULL,
	[TA] [nvarchar](100) NULL,
	[Village] [nvarchar](100) NULL,
	[Region] [nvarchar](50) NULL,
	[Site_Description] [nvarchar](100) NULL,
	[Price_Per_Square_Meter] [float] NULL,
	[BankName] [nvarchar](100) NULL,
	[AccountName] [nvarchar](100) NULL,
	[AccountNumber] [nvarchar](100) NULL,
	[Branch] [nvarchar](100) NULL,
	[OwnedbyInnobuild] [nvarchar](50) NULL,
	[RoadSize] [float] NULL,
	[RemainingAcreage] [float] NULL,
	[SiteMap] [nvarchar](100) NULL,
 CONSTRAINT [PK__Sites__A12A3366B4A39002] PRIMARY KEY CLUSTERED 
(
	[SiteCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Sys_Licence]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Sys_Licence](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LicenceKey] [nvarchar](40) NOT NULL,
	[Flag] [nvarchar](30) NULL,
	[DateUpdated] [datetime] NULL,
	[ExpiryDate] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Sys_Operate_Log]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Sys_Operate_Log](
	[Operator_No] [nvarchar](50) NOT NULL,
	[Operator_Name] [nvarchar](50) NULL,
	[Operate_Type] [nvarchar](50) NULL,
	[Module_Name] [nvarchar](50) NULL,
	[User_No] [nvarchar](50) NULL,
	[Meter_No] [nvarchar](50) NOT NULL,
	[Log_Remark] [nvarchar](500) NULL,
	[IP_Address] [nvarchar](50) NULL,
	[Computer_Name] [nvarchar](50) NULL,
	[Station_No] [nvarchar](50) NULL,
	[Update_Flag] [nvarchar](50) NOT NULL CONSTRAINT [DF_T_Sys_Operate_Log_Update_Flag]  DEFAULT ((0)),
	[Update_Date] [datetime] NULL,
	[Create_Date] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](60) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Fullname] [nvarchar](60) NOT NULL,
	[Section] [nvarchar](60) NULL,
	[Location] [nvarchar](60) NULL,
	[RoleId] [int] NULL,
	[Position] [nvarchar](50) NULL,
	[Date_Created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ValueSequence]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValueSequence](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteCode] [int] NULL,
	[Plot] [int] NULL,
	[OfferNo] [int] NULL,
	[TransNo] [int] NULL,
	[ClientNo] [int] NULL,
	[ReceiptNo] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VwCUsers]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VwCUsers]
AS
SELECT        a.ID, a.Username, '@@@@@@@@@@@' AS Password, a.Fullname, a.Location, a.RoleId, b.RoleName, a.CustomerID
FROM            dbo.CUsers AS a LEFT OUTER JOIN
                         dbo.Roles AS b ON a.RoleId = b.RoleId





GO
/****** Object:  View [dbo].[VwUsers]    Script Date: 27/07/2026 10:06:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VwUsers]
AS
SELECT        a.ID, a.Username, '@@@@@@@@@@@' AS Password, a.Fullname, a.Section, a.Location, a.RoleId, b.RoleName, a.Position
FROM            dbo.Users AS a LEFT OUTER JOIN
                         dbo.Roles AS b ON a.RoleId = b.RoleId







GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ID], [ClientNo], [Fullname], [District], [Address], [PhoneNo], [PhoneNo2], [Email], [Occupation], [IdentityNo], [PostedBy]) VALUES (2008, N'INC010', N'Anne Matemba', N'Blantyre', N'Malamulo Publishing House Box 11 Makwasa Blantyre', N'265991933002', N'NA', N'Matembaa@abcmw.adventist.org', N'Employed', N'NA', N'brianzumani@gmail.com')
INSERT [dbo].[Clients] ([ID], [ClientNo], [Fullname], [District], [Address], [PhoneNo], [PhoneNo2], [Email], [Occupation], [IdentityNo], [PostedBy]) VALUES (10086, N'INC0100', N'Tulinawe Munkhondya', N'Mzuzu', N'Area 25 LILONGWE', N'265994213549', N'0882163398', N'tulimunkhondya@gmail.com', N'employed', N'non', N'chikondicolvinchikwembani@gmail.com')
INSERT [dbo].[Clients] ([ID], [ClientNo], [Fullname], [District], [Address], [PhoneNo], [PhoneNo2], [Email], [Occupation], [IdentityNo], [PostedBy]) VALUES (10087, N'INC0101', N'Jethro and Evangel Phiri', N'Lilongwe', N'Atsikana Paulendo Pvt Bag 75 Nsalu', N'265884131390', N'0888221304', N'nelliemaliro1@gmail.com', N'Employed', N'NA', N'chikondicolvinchikwembani@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([ID], [DistrictName], [Region]) VALUES (1, N'Chitipa', N'North')
INSERT [dbo].[Districts] ([ID], [DistrictName], [Region]) VALUES (2, N'Karonga', N'North')
INSERT [dbo].[Districts] ([ID], [DistrictName], [Region]) VALUES (3, N'Mzimba', N'North')
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[Next_of_Kins] ON 

INSERT [dbo].[Next_of_Kins] ([Id], [ClientNo], [Name], [Relationship], [Contact]) VALUES (1, N'INC03', N'Norias Mdala', N'Wife', N'265993955729')
INSERT [dbo].[Next_of_Kins] ([Id], [ClientNo], [Name], [Relationship], [Contact]) VALUES (2, N'INC08', N'Lucia Kadewere', N'Sister', N'265990248808')
INSERT [dbo].[Next_of_Kins] ([Id], [ClientNo], [Name], [Relationship], [Contact]) VALUES (3, N'INC07', N'Lucia Kadewere', N'Sister', N'265990248808')
SET IDENTITY_INSERT [dbo].[Next_of_Kins] OFF
SET IDENTITY_INSERT [dbo].[Penalties] ON 

INSERT [dbo].[Penalties] ([Id], [Description], [FromRange], [ToRange], [Charge]) VALUES (1, N'Monthly payments below 100,000 ', N'0', N'100000', N'25000')
INSERT [dbo].[Penalties] ([Id], [Description], [FromRange], [ToRange], [Charge]) VALUES (2, N'Between 100,000- 200,000', N'100001', N'200000', N'40000')
INSERT [dbo].[Penalties] ([Id], [Description], [FromRange], [ToRange], [Charge]) VALUES (3, N'Between 200,000 - 500,000', N'200001', N'500000', N'60000')
SET IDENTITY_INSERT [dbo].[Penalties] OFF
SET IDENTITY_INSERT [dbo].[PlotAllocations] ON 

INSERT [dbo].[PlotAllocations] ([ID], [PlotNo], [SiteNo], [PriceCategory], [AgreedPrice], [AmountPaid], [ClientNo], [DateAllocated], [PostedBy]) VALUES (10077, N'INB010/2', N'INB010', N'Cash', 800000, 800000, N'INC078', CAST(N'2026-06-22 11:52:34.760' AS DateTime), N'chikondicolvinchikwembani@gmail.com')
INSERT [dbo].[PlotAllocations] ([ID], [PlotNo], [SiteNo], [PriceCategory], [AgreedPrice], [AmountPaid], [ClientNo], [DateAllocated], [PostedBy]) VALUES (7043, N'INB010/3', N'INB010', N'Installment', 5723295, 1669000, N'INC048', CAST(N'2026-05-27 14:31:31.110' AS DateTime), N'chikondicolvinchikwembani@gmail.com')
INSERT [dbo].[PlotAllocations] ([ID], [PlotNo], [SiteNo], [PriceCategory], [AgreedPrice], [AmountPaid], [ClientNo], [DateAllocated], [PostedBy]) VALUES (9074, N'INB010/5', N'INB010', N'Installment', 2959140, 712000, N'INC073', CAST(N'2026-06-16 10:30:00.010' AS DateTime), N'chikondicolvinchikwembani@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[PlotAllocations] OFF
SET IDENTITY_INSERT [dbo].[PlotPayments] ON 

INSERT [dbo].[PlotPayments] ([ID], [PlotNo], [SiteNo], [CurrentBalance], [AmountPaid], [NewBalance], [PaidBy], [PaymentMode], [PaymentReference], [ReceiptNo], [DatePaid], [PostedBy]) VALUES (1, N'INB02/4 and 5', N'INB02', 7950000, 3000000, 4950000, N'INC02', N'Cash', N'', N'INBR09', CAST(N'2025-09-15 12:43:56.977' AS DateTime), N'bandamayeso@gmail.com')
INSERT [dbo].[PlotPayments] ([ID], [PlotNo], [SiteNo], [CurrentBalance], [AmountPaid], [NewBalance], [PaidBy], [PaymentMode], [PaymentReference], [ReceiptNo], [DatePaid], [PostedBy]) VALUES (2, N'INB02/4 and 5', N'INB02', 4950000, 1500000, 3450000, N'INC02', N'Cash', N'', N'INBR010', CAST(N'2025-09-26 08:45:25.763' AS DateTime), N'bandamayeso@gmail.com')
INSERT [dbo].[PlotPayments] ([ID], [PlotNo], [SiteNo], [CurrentBalance], [AmountPaid], [NewBalance], [PaidBy], [PaymentMode], [PaymentReference], [ReceiptNo], [DatePaid], [PostedBy]) VALUES (5, N'INB05/2,3,4', N'INB05', 8294000, 3000000, 5294000, N'INC04', N'Bank Transfer', N'Centenary bank', N'INBR013', CAST(N'2025-10-26 09:40:23.417' AS DateTime), N'bandamayeso@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[PlotPayments] OFF
SET IDENTITY_INSERT [dbo].[Plots] ON 

INSERT [dbo].[Plots] ([ID], [PlotNo], [SiteNo], [PlotSize], [PlotValue], [NormalPrice], [PromotionPrice], [PriceCategory], [PlotStatus], [OfferedTo], [DateOffered], [AgreedPrice], [AmountPaid], [Balance], [FullPaymentDate], [DateRegistered], [RegisteredBy], [OfferPeriod], [MonthlyInstallment], [PlotSketch]) VALUES (18129, N'INB010/1', N'INB010', N'645', 2794785, 2794785, NULL, NULL, N'Available', N'none', NULL, 0, 0, 0, NULL, CAST(N'2026-07-20 13:40:08.703' AS DateTime), N'shadreckbeston06@gmail.com', NULL, NULL, N'CHISEKA SITE 9A plot 1.pdf')
GO
SET IDENTITY_INSERT [dbo].[Plots] OFF
SET IDENTITY_INSERT [dbo].[PlotWithdrawal] ON 

INSERT [dbo].[PlotWithdrawal] ([ID], [PlotNo], [SiteNo], [OfferedTo], [AgreedPrice], [AmountPaid], [Balance], [RefundAmount], [WithdrawReason], [WithdrawDate], [PostedBy], [CollectedBy], [DateAllocated], [Status]) VALUES (1, N'INB07/2,3', N'INB07', N'INC010', 1950000, 0, 1950000, 0, N'Price and duration changes', CAST(N'2026-04-17 09:35:20.073' AS DateTime), N'grecianchiwotha@gmail.com', N'Anne Matemba', CAST(N'2026-04-16 00:00:00.000' AS DateTime), N'Approved')
INSERT [dbo].[PlotWithdrawal] ([ID], [PlotNo], [SiteNo], [OfferedTo], [AgreedPrice], [AmountPaid], [Balance], [RefundAmount], [WithdrawReason], [WithdrawDate], [PostedBy], [CollectedBy], [DateAllocated], [Status]) VALUES (2, N'INB06/3', N'INB06', N'INC09', 4950000, 2000000, 2950000, 2000000, N'WE ARE ADDING ANOTHER PLOT', CAST(N'2026-04-22 14:00:09.647' AS DateTime), N'chikondicolvinchikwembani@gmail.com', N'Praise Njikho', CAST(N'2026-04-08 00:00:00.000' AS DateTime), N'Approved')
INSERT [dbo].[PlotWithdrawal] ([ID], [PlotNo], [SiteNo], [OfferedTo], [AgreedPrice], [AmountPaid], [Balance], [RefundAmount], [WithdrawReason], [WithdrawDate], [PostedBy], [CollectedBy], [DateAllocated], [Status]) VALUES (3, N'INB08/72,73', N'INB08', N'INC014', 3500000, 0, 3500000, 0, N'price and sqaure meters problems', CAST(N'2026-04-24 10:44:38.690' AS DateTime), N'chikondicolvinchikwembani@gmail.com', N'Edward Gerald Mwalabu', CAST(N'2026-04-23 00:00:00.000' AS DateTime), N'Approved')
SET IDENTITY_INSERT [dbo].[PlotWithdrawal] OFF
SET IDENTITY_INSERT [dbo].[ReminderLogs] ON 

INSERT [dbo].[ReminderLogs] ([Id], [Status], [DateSent], [SentBy]) VALUES (1, N'Reminders sent successfully', CAST(N'2026-05-25 09:36:54.000' AS DateTime), N'bandamayeso@gmail.com')
INSERT [dbo].[ReminderLogs] ([Id], [Status], [DateSent], [SentBy]) VALUES (2, N'Reminders sent successfully', CAST(N'2026-06-04 12:34:16.617' AS DateTime), N'bandamayeso@gmail.com')
INSERT [dbo].[ReminderLogs] ([Id], [Status], [DateSent], [SentBy]) VALUES (3, N'Reminders sent successfully', CAST(N'2026-07-17 13:02:41.180' AS DateTime), N'bandamayeso@gmail.com')
SET IDENTITY_INSERT [dbo].[ReminderLogs] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Functionalities]) VALUES (1, N'IT', N'All')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Functionalities]) VALUES (2, N'Manager', N'Some')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Functionalities]) VALUES (4, N'Accounts', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[SaleAgreementPlots] ON 

INSERT [dbo].[SaleAgreementPlots] ([ID], [SaleAgreementId], [SiteNo], [PlotNo], [Date]) VALUES (1, 1, N'INB02', N'INB02/4 and 5', CAST(N'2025-12-19 09:47:07.483' AS DateTime))
INSERT [dbo].[SaleAgreementPlots] ([ID], [SaleAgreementId], [SiteNo], [PlotNo], [Date]) VALUES (2, 2, N'INB06', N'INB06/8', CAST(N'2026-06-16 11:47:40.907' AS DateTime))
INSERT [dbo].[SaleAgreementPlots] ([ID], [SaleAgreementId], [SiteNo], [PlotNo], [Date]) VALUES (3, 3, N'INB06', N'INB06/9', CAST(N'2026-06-16 11:55:00.667' AS DateTime))
SET IDENTITY_INSERT [dbo].[SaleAgreementPlots] OFF
SET IDENTITY_INSERT [dbo].[SaleAgreements] ON 

INSERT [dbo].[SaleAgreements] ([Id], [ClientNo], [OfferDate], [OfferYear], [Createdby], [Createdon]) VALUES (1, N'INC02', N'Friday, 19 December 2025', N'2025', N'chikondicolvinchikwembani@gmail.com', N'Dec 19 2025  9:47AM')
INSERT [dbo].[SaleAgreements] ([Id], [ClientNo], [OfferDate], [OfferYear], [Createdby], [Createdon]) VALUES (2, N'INC08', N'Tuesday, 16 June 2026', N'2026', N'chikondicolvinchikwembani@gmail.com', N'Jun 16 2025  11:47AM')
INSERT [dbo].[SaleAgreements] ([Id], [ClientNo], [OfferDate], [OfferYear], [Createdby], [Createdon]) VALUES (3, N'INC07', N'Tuesday, 16 June 2026', N'2026', N'chikondicolvinchikwembani@gmail.com', N'Jun 16 2025  11:55AM')
SET IDENTITY_INSERT [dbo].[SaleAgreements] OFF
SET IDENTITY_INSERT [dbo].[SentMessages] ON 

INSERT [dbo].[SentMessages] ([Id], [SenderId], [Contact], [TextMessage], [Status], [DateSent]) VALUES (1, N'Innobuild', N'265995827825', N'Okondedwa ALFRED KASINJA mwalipira K1400000 For Plot No.:  NANJIRI SITE 1A/INB08/14,15,16,17. Ndalama yonse imene mwapereka ndi K1400000 Balance yotsala ndi K5600000', N'Sent', CAST(N'2026-04-28 10:22:21.840' AS DateTime))
INSERT [dbo].[SentMessages] ([Id], [SenderId], [Contact], [TextMessage], [Status], [DateSent]) VALUES (2, N'Innobuild', N'265999678065', N'Okondedwa Chifundo German mwalipira K1050000 For Plot No.:  NANJIRI SITE 1A/INB08/74,75,76. Ndalama yonse imene mwapereka ndi K1050000 Balance yotsala ndi K3075000', N'Sent', CAST(N'2026-04-28 12:57:53.183' AS DateTime))
INSERT [dbo].[SentMessages] ([Id], [SenderId], [Contact], [TextMessage], [Status], [DateSent]) VALUES (3, N'Innobuild', N'265995669303', N'Okondedwa Felix Mimu mwalipira K400000 For Plot No.:  NANJIRI SITE 1A/INB08/27. Ndalama yonse imene mwapereka ndi K400000 Balance yotsala ndi K1086000', N'Sent', CAST(N'2026-04-29 16:42:54.613' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SentMessages] OFF
SET IDENTITY_INSERT [dbo].[Sites] ON 

SET IDENTITY_INSERT [dbo].[Sites] OFF
INSERT [dbo].[T_Sys_Operate_Log] ([Operator_No], [Operator_Name], [Operate_Type], [Module_Name], [User_No], [Meter_No], [Log_Remark], [IP_Address], [Computer_Name], [Station_No], [Update_Flag], [Update_Date], [Create_Date]) VALUES (N'pemphero', N'pemphero', N'Login', N'User Login', NULL, N'none', N'Login Successfull', N'192.168.56.1', N'INNOPAY01', NULL, N'0', NULL, CAST(N'2025-09-09 14:46:43.840' AS DateTime))
INSERT [dbo].[T_Sys_Operate_Log] ([Operator_No], [Operator_Name], [Operate_Type], [Module_Name], [User_No], [Meter_No], [Log_Remark], [IP_Address], [Computer_Name], [Station_No], [Update_Flag], [Update_Date], [Create_Date]) VALUES (N'pemphero', N'pemphero', N'Login', N'User Login', NULL, N'none', N'Login Successfull', N'192.168.56.1', N'INNOPAY01', NULL, N'0', NULL, CAST(N'2025-09-09 14:47:18.570' AS DateTime))
INSERT [dbo].[T_Sys_Operate_Log] ([Operator_No], [Operator_Name], [Operate_Type], [Module_Name], [User_No], [Meter_No], [Log_Remark], [IP_Address], [Computer_Name], [Station_No], [Update_Flag], [Update_Date], [Create_Date]) VALUES (N'pemphero', N'pemphero', N'Login', N'User Login', NULL, N'none', N'Login Successfull', N'192.168.56.1', N'INNOPAY01', NULL, N'0', NULL, CAST(N'2025-09-09 14:52:05.020' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [Password], [Fullname], [Section], [Location], [RoleId], [Position], [Date_Created]) VALUES (1006, N'bandamayeso@gmail.com', N'chtxK6vHVUI=', N'Mayeso Banda', NULL, N'Lilongwe', 4, NULL, CAST(N'2025-09-11 13:35:30.410' AS DateTime))
INSERT [dbo].[Users] ([ID], [Username], [Password], [Fullname], [Section], [Location], [RoleId], [Position], [Date_Created]) VALUES (1002, N'billychiwotha@yahoo.com', N'yzdCKUgcmIw=', N'Billy Chiwotha', NULL, N'Lilongwe', 7, NULL, CAST(N'2025-09-11 13:29:05.657' AS DateTime))
INSERT [dbo].[Users] ([ID], [Username], [Password], [Fullname], [Section], [Location], [RoleId], [Position], [Date_Created]) VALUES (1009, N'brianzumani@gmail.com', N'I+Y9+i5jDZA=', N'Brian Zumani', NULL, N'Blantyre', 8, NULL, CAST(N'2026-04-16 14:53:37.243' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[ValueSequence] ON 

INSERT [dbo].[ValueSequence] ([ID], [SiteCode], [Plot], [OfferNo], [TransNo], [ClientNo], [ReceiptNo]) VALUES (1, 20, 1, 1, 1, 115, N'194')
SET IDENTITY_INSERT [dbo].[ValueSequence] OFF
ALTER TABLE [dbo].[ChangeofOwnership] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[PaymentVoucher] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentVoucher] ADD  DEFAULT (getdate()) FOR [DatePrepared]
GO
ALTER TABLE [dbo].[PaymentVoucherCreditor] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentVoucherCreditor] ADD  DEFAULT (getdate()) FOR [DatePrepared]
GO
USE [master]
GO
