USE [master]
GO
/****** Object:  Database [LMS]    Script Date: 18/09/2026 2:08:00 pm ******/
CREATE DATABASE [LMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.PEMPHERO\MSSQL\DATA\LMS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.PEMPHERO\MSSQL\DATA\LMS_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS]
GO
/****** Object:  Table [dbo].[ChangeofOwershipPayments]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeofOwershipPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[SaleAgreementId] [nvarchar](100) NOT NULL,
	[AmountPaid] [float] NULL,
	[PaidBy] [nvarchar](100) NOT NULL,
	[PaymentMode] [nvarchar](100) NOT NULL,
	[PaymentReference] [nvarchar](100) NOT NULL,
	[ReceiptNo] [nvarchar](100) NOT NULL,
	[DatePaid] [nvarchar](100) NULL,
	[PostedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Ownershi__9B556A58E76203FA] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeofOwnership]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeofOwnership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Previous_Owner] [nvarchar](100) NOT NULL,
	[Current_Owner] [nvarchar](100) NOT NULL,
	[SaleAgreementId] [nvarchar](100) NOT NULL,
	[ProofofPayment] [nvarchar](100) NOT NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[District] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[PhoneNo] [nvarchar](100) NULL,
	[PhoneNo2] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Occupation] [nvarchar](80) NULL,
	[IdentityNo] [nvarchar](30) NULL,
	[PostedBy] [nvarchar](60) NULL,
 CONSTRAINT [PK__Clients__E671268B2A077A27] PRIMARY KEY CLUSTERED 
(
	[ClientNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditorPayments]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditorPayments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[CreditorID] [nvarchar](20) NULL,
	[CurrentBalance] [float] NULL,
	[AmountPaid] [float] NULL,
	[NewBalance] [float] NULL,
	[CollectedBy] [nvarchar](60) NULL,
	[PaymentMode] [nvarchar](20) NULL,
	[PaymentReference] [nvarchar](60) NULL,
	[DatePaid] [nvarchar](60) NULL,
	[PostedBy] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creditors]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creditors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](60) NOT NULL,
	[SiteName] [nvarchar](60) NOT NULL,
	[LandOwner] [nvarchar](60) NOT NULL,
	[AmountAgreed] [float] NULL,
	[AmountPaid] [float] NULL,
	[Balance] [float] NULL,
	[LandOwnerAccountNumber] [nvarchar](60) NOT NULL,
	[LandSurveyedBy] [nvarchar](60) NOT NULL,
	[LandSize] [nvarchar](60) NOT NULL,
	[EstimatedPlots] [nvarchar](60) NULL,
	[EstimatedPlotPrice] [float] NULL,
	[RequestedBy] [nvarchar](60) NOT NULL,
	[CheckedbyOpm] [nvarchar](60) NOT NULL,
	[AuthorisedByCEO] [nvarchar](60) NOT NULL,
	[FinanceLedgeby] [nvarchar](60) NOT NULL,
	[Postedby] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUsers]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](60) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Fullname] [nvarchar](60) NOT NULL,
	[CustomerID] [nvarchar](60) NULL,
	[Location] [nvarchar](60) NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](40) NULL,
	[Region] [nvarchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Next_of_Kins]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Next_of_Kins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Relationship] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otp]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [nvarchar](10) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[otp] [nvarchar](10) NOT NULL,
	[Username] [nvarchar](60) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Fullname] [nvarchar](60) NOT NULL,
	[Location] [nvarchar](60) NULL,
	[RoleId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentVoucher]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentVoucher](
	[PaymentVoucherID] [int] IDENTITY(1,1) NOT NULL,
	[PayeeName] [nvarchar](200) NOT NULL,
	[Amount] [float] NULL,
	[AmountInWords] [nvarchar](500) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ChequeNo] [nvarchar](50) NULL,
	[BankName] [nvarchar](150) NULL,
	[AccountNo] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[ReferenceNo] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NULL,
	[PreparedBy] [nvarchar](100) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ReceivedBy] [nvarchar](100) NULL,
	[DatePrepared] [datetime] NULL,
	[DateApproved] [datetime] NULL,
	[DateReceived] [datetime] NULL,
	[ModifiedBy] [nvarchar](1) NULL,
	[DateModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentVoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentVoucherCreditor]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentVoucherCreditor](
	[PaymentVoucherID] [int] IDENTITY(1,1) NOT NULL,
	[PayeeName] [nvarchar](200) NOT NULL,
	[SiteCode] [int] NOT NULL,
	[Amount] [float] NULL,
	[AmountInWords] [nvarchar](500) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ChequeNo] [nvarchar](50) NULL,
	[BankName] [nvarchar](150) NULL,
	[AccountNo] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[ReferenceNo] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NULL,
	[PreparedBy] [nvarchar](100) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ReceivedBy] [nvarchar](100) NULL,
	[DatePrepared] [datetime] NULL,
	[DateApproved] [datetime] NULL,
	[DateReceived] [datetime] NULL,
	[ModifiedBy] [nvarchar](1) NULL,
	[DateModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentVoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalties]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[FromRange] [nvarchar](100) NULL,
	[ToRange] [nvarchar](100) NULL,
	[Charge] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlotAllocations]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlotAllocations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlotNo] [nvarchar](100) NOT NULL,
	[SiteNo] [nvarchar](100) NOT NULL,
	[PriceCategory] [nvarchar](60) NULL,
	[AgreedPrice] [float] NULL,
	[AmountPaid] [float] NULL,
	[ClientNo] [nvarchar](40) NULL,
	[DateAllocated] [datetime] NULL,
	[PostedBy] [nvarchar](60) NULL,
 CONSTRAINT [PK__Plots__78CFA6E969] PRIMARY KEY CLUSTERED 
(
	[PlotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlotPayments]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlotPayments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlotNo] [nvarchar](100) NOT NULL,
	[SiteNo] [nvarchar](100) NOT NULL,
	[CurrentBalance] [float] NULL,
	[AmountPaid] [float] NULL,
	[NewBalance] [float] NULL,
	[PaidBy] [nvarchar](60) NULL,
	[PaymentMode] [nvarchar](60) NULL,
	[PaymentReference] [nvarchar](40) NULL,
	[ReceiptNo] [nvarchar](50) NULL,
	[DatePaid] [datetime] NULL,
	[PostedBy] [nvarchar](60) NULL,
 CONSTRAINT [PK__PlotPaym__78CF8670357B5AA2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plots]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlotNo] [nvarchar](100) NOT NULL,
	[SiteNo] [nvarchar](100) NOT NULL,
	[PlotSize] [nvarchar](50) NULL,
	[PlotValue] [float] NULL,
	[NormalPrice] [float] NULL,
	[PromotionPrice] [float] NULL,
	[PriceCategory] [nvarchar](60) NULL,
	[PlotStatus] [nvarchar](60) NULL,
	[OfferedTo] [nvarchar](40) NULL,
	[DateOffered] [datetime] NULL,
	[AgreedPrice] [float] NULL,
	[AmountPaid] [float] NULL,
	[Balance] [float] NULL,
	[FullPaymentDate] [datetime] NULL,
	[DateRegistered] [datetime] NULL,
	[RegisteredBy] [nvarchar](60) NULL,
	[OfferPeriod] [nvarchar](50) NULL,
	[MonthlyInstallment] [float] NULL,
	[PlotSketch] [nvarchar](100) NULL,
 CONSTRAINT [PK__Plots__78CF8670F4A6E969] PRIMARY KEY CLUSTERED 
(
	[PlotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlotWithdrawal]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlotWithdrawal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlotNo] [nvarchar](50) NOT NULL,
	[SiteNo] [nvarchar](30) NOT NULL,
	[OfferedTo] [nvarchar](40) NULL,
	[AgreedPrice] [float] NULL,
	[AmountPaid] [float] NULL,
	[Balance] [float] NULL,
	[RefundAmount] [float] NULL,
	[WithdrawReason] [nvarchar](250) NULL,
	[WithdrawDate] [datetime] NULL,
	[PostedBy] [nvarchar](60) NULL,
	[CollectedBy] [nvarchar](60) NULL,
	[DateAllocated] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReminderLogs]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReminderLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DateSent] [datetime] NOT NULL,
	[SentBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](60) NOT NULL,
	[Functionalities] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleAgreementPlots]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleAgreementPlots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SaleAgreementId] [int] NULL,
	[SiteNo] [nvarchar](100) NOT NULL,
	[PlotNo] [nvarchar](100) NOT NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleAgreements]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleAgreements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [nvarchar](100) NULL,
	[OfferDate] [nvarchar](100) NULL,
	[OfferYear] [nvarchar](60) NULL,
	[Createdby] [nvarchar](100) NULL,
	[Createdon] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](40) NULL,
	[SectionLeader] [nvarchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SentMessages]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SentMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
	[TextMessage] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[DateSent] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sites]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sites](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteCode] [nvarchar](30) NOT NULL,
	[District] [nvarchar](30) NULL,
	[PhysicalLocation] [nvarchar](200) NULL,
	[Size] [nvarchar](50) NULL,
	[PreviousOwner] [nvarchar](100) NULL,
	[InitialValue] [float] NULL,
	[AmountPaid] [float] NULL,
	[Balance] [float] NULL,
	[DevelopmentsDone] [nvarchar](300) NULL,
	[DevelopmentCost] [float] NULL,
	[DateRegistered] [datetime] NULL,
	[RegisteredBy] [nvarchar](60) NULL,
	[TA] [nvarchar](100) NULL,
	[Village] [nvarchar](100) NULL,
	[Region] [nvarchar](50) NULL,
	[Site_Description] [nvarchar](100) NULL,
	[Price_Per_Square_Meter] [float] NULL,
	[BankName] [nvarchar](100) NULL,
	[AccountName] [nvarchar](100) NULL,
	[AccountNumber] [nvarchar](100) NULL,
	[Branch] [nvarchar](100) NULL,
	[OwnedbyInnobuild] [nvarchar](50) NULL,
	[RoadSize] [float] NULL,
	[RemainingAcreage] [float] NULL,
	[SiteMap] [nvarchar](100) NULL,
 CONSTRAINT [PK__Sites__A12A3366B4A39002] PRIMARY KEY CLUSTERED 
(
	[SiteCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Sys_Licence]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Sys_Licence](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LicenceKey] [nvarchar](40) NOT NULL,
	[Flag] [nvarchar](30) NULL,
	[DateUpdated] [datetime] NULL,
	[ExpiryDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Sys_Operate_Log]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Sys_Operate_Log](
	[Operator_No] [nvarchar](50) NOT NULL,
	[Operator_Name] [nvarchar](50) NULL,
	[Operate_Type] [nvarchar](50) NULL,
	[Module_Name] [nvarchar](50) NULL,
	[User_No] [nvarchar](50) NULL,
	[Meter_No] [nvarchar](50) NOT NULL,
	[Log_Remark] [nvarchar](500) NULL,
	[IP_Address] [nvarchar](50) NULL,
	[Computer_Name] [nvarchar](50) NULL,
	[Station_No] [nvarchar](50) NULL,
	[Update_Flag] [nvarchar](50) NOT NULL,
	[Update_Date] [datetime] NULL,
	[Create_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](60) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Fullname] [nvarchar](60) NOT NULL,
	[Section] [nvarchar](60) NULL,
	[Location] [nvarchar](60) NULL,
	[RoleId] [int] NULL,
	[Position] [nvarchar](50) NULL,
	[Date_Created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValueSequence]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValueSequence](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteCode] [int] NULL,
	[Plot] [int] NULL,
	[OfferNo] [int] NULL,
	[TransNo] [int] NULL,
	[ClientNo] [int] NULL,
	[ReceiptNo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VwCUsers]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VwCUsers]
AS
SELECT        a.ID, a.Username, '@@@@@@@@@@@' AS Password, a.Fullname, a.Location, a.RoleId, b.RoleName, a.CustomerID
FROM            dbo.CUsers AS a LEFT OUTER JOIN
                         dbo.Roles AS b ON a.RoleId = b.RoleId





GO
/****** Object:  View [dbo].[VwUsers]    Script Date: 18/09/2026 2:08:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VwUsers]
AS
SELECT        a.ID, a.Username, '@@@@@@@@@@@' AS Password, a.Fullname, a.Section, a.Location, a.RoleId, b.RoleName, a.Position
FROM            dbo.Users AS a LEFT OUTER JOIN
                         dbo.Roles AS b ON a.RoleId = b.RoleId







GO
ALTER TABLE [dbo].[ChangeofOwnership] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[PaymentVoucher] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentVoucher] ADD  DEFAULT (getdate()) FOR [DatePrepared]
GO
ALTER TABLE [dbo].[PaymentVoucherCreditor] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentVoucherCreditor] ADD  DEFAULT (getdate()) FOR [DatePrepared]
GO
ALTER TABLE [dbo].[ReminderLogs] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[SaleAgreementPlots] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[T_Sys_Operate_Log] ADD  CONSTRAINT [DF_T_Sys_Operate_Log_Update_Flag]  DEFAULT ((0)) FOR [Update_Flag]
GO
USE [master]
GO
